extends layout

block content
  form(action="/books/new", method="post")
    include form_error
    include form
    p
      input(type='submit' value='Create New Book')
    p
      a.button(href='/books') Cancel